.Operations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
body{
  line-height: .8rem !important;
 
}
.editBtn {
  border: none;
  border: 0.5px solid green;
  margin: 0 3px;
  /* height: 2rem; */
  border-radius: 3px;
  /* width: 3rem; */
  font-family: "VazirDigit", "Vazir";
  font-size: 13px !important;
  text-align: center;
  margin: 5px;
  /* width: 7rem; */
}
input:focus {
  /* outline: 1px auto cornflowerblue;

  margin: 5px; */
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* font-size: 13px !important; */
}
button:focus {
  outline: 1px dotted;
  outline: 2px auto cornflowerblue !important;
  /* color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
}
.deleteBtn {
  color: #fff;
  border: none;
  padding: 5px;
  margin: 0 3px;
  height: 2rem;
  border-radius: 3px;
  width: 3rem;
  font-family: "VazirDigit", "Vazir";
  text-align: center;
  font-size: 11px !important;
}

table {
  /* border-collapse: separate; */
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  border-spacing: 2px;
  font-variant: normal;
  
}

.scroll {
  overflow: auto;
  /* overflow-y:scroll; */
  /* overflow-x:scroll; */
  /* height: 51em; */
  border-radius: 10px;
  background-color: #28428bd4 ;
  color: #fff;
  margin: auto;
  box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
 
}

.trheight {
  height: 1rem;
}
thead input {
  border-radius: 2px;
  border: none;
  background-color:azure;
  text-align: center;
  font-family: "VazirDigit", "Vazir";
  /* font-size: 1rem; */
  /* font-size: 13px !important; */
}
th {
  font-size: smaller;
  text-align: center !important;
  text-transform: uppercase;
  padding: 4px 4px;
  color: #fff;
  background-color: #041136d4;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: indigo;
  
  
}
tr:hover {background-color: rgba(165, 103, 216, 0.575);}
tr:nth-child(even) {background-color: #1d267ccb;}
tr:nth-child(even):hover{background-color: rgba(165, 103, 216, 0.575);}
tbody {
  font-family: "VazirDigit", "Vazir";
  font-size: 13px !important;
  

}
tbody tr td {
  text-align: center;
  font-family: "VazirDigit", "Vazir";
  padding: 10px 5px;
  color: #fff;
  margin: 0;
  font-size: 13px !important;
  overflow: auto;
  text-transform: uppercase;
  
}

.forSearch {
  border-bottom: seagreen !important;
  margin:3px;
  padding:2px;
  width: 4rem;
  /* margin: 1rem; */
}
.rtlDir {
  direction: rtl;

}
.pagination {
  font-family: "VazirDigit", "Vazir";
}
.striped{
  width: 25rem;
}

