@font-face {
  font-family: 'Bnazanin';
  src: local('Bnazanin'), url(../fonts/Bnazanin.ttf) format('truetype');
  
}



  
  
  .PocketCustom .BimeStyle{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .PocketCustom label {
    color: white;
    text-align: center;
  }
  .PocketCustom .input:read-only {
    background-color: blueviolet;
  }
  
  .PocketCustom .InputBimeh {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #1b25569a;
    border-radius: 10px;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    justify-content: center;
    align-items: center;
  }
  .PocketCustom .form_put1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0.5rem;
    flex-wrap: wrap;
  }
  .PocketCustom .form_put1 #NewStylePack{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
  }

  .PocketCustom  .buttunForm_Bime {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PocketCustom  .ButtonNew {
    position: relative;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    float: left;
    background-color: #13e72fc4;
    color: white;
    transition-duration: 0.8s;
    border: none;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    font-size: 20px;
  }
  
  .PocketCustom .ButtonNew:hover {
    background-color: #4caf50;
    color: white;
  }
  .PocketCustom  .CustomTable{
    margin-top: 15em;
    margin-left: 10em;
    position: relative;
  }
  .PocketCustom  .NoskheStyle{
    position: relative;
    width: 100%;
    height: 50em;
    bottom: 9em;
  }
  .PocketCustom input {
    border-radius: 5px;
    text-align: center;
    font-family: 'Bnazanin';
    font-size: 15px;
    border-color: aliceblue;

  }
  .PocketCustom select {
    border-radius: 5px;
    text-align: center;
    font-family: 'Vazir';

  }
  .PocketCustom .CalumPopup{
    width: 100%;
    height: 5em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.PocketCustom #PopupInput{
  background-image: linear-gradient(45deg ,rgb(168, 48, 78), rgb(9, 17, 129));
  box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  border: none;
}
.PocketCustom #PopupInput:hover{
  background-image: linear-gradient(-45deg , rgb(9, 17, 129),rgb(168, 48, 78));


    
}
.PocketCustom  .ContractNo {
  display:inline-block;
  width: 80%;
  margin-right: 10px;
  box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.PocketCustom .SelectStyle {
  height: 50px;
  width: 300px;
  float: right;
  display:block;

}
.PocketCustom .scroll {
  overflow: auto;
  /* overflow-y:scroll; */
  /* overflow-x:scroll; */
  width: 31rem;
  height: 45  em;
  border-radius: 10px;
  background-color: #28428bd4 ;
  color: #fff;
  margin: auto;

 
}
.PocketCustom .striped{
  width: 31rem;
}




 
  
  
  