#Search-Style {
    margin: 0;
    padding: 0;
    }
#Search-Style .container{
    max-width: 90em;
    margin-top: 10em;
    padding: 0 20px;
    height: 100%;
}
#Search-Style .search-table{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#Search-Style #footer-search {
    position: relative;
    top: 40em;
    
    
    
}
#Search-Style .footer-stayle{
    width: 100%;
    bottom: 95px;
}


#Search-Style .striped{
    width: 100%;
  }

  #Search-Style .scroll {
    overflow: auto;
    /* overflow-y:scroll; */
    /* overflow-x:scroll; */
    width: 65rem;
    height: 30rem;
    border-radius: 10px;
    background-color: #28428bd4 ;
    color: #fff;
    margin: auto;
  
   
  }
